body {
  background-color: linear-gradient(to bottom, #7469B6 0%, #7469B6 10%, white 10%);

  font-family: Arial, sans-serif;
}

.add-pets-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #E1AFD1;
  border-radius: 8px;
}

.add-pets-form h1 {
  color: #7469B6;
  text-align: center;
  margin-bottom: 20px;
}

.add-pets-form input[type="text"],
form input[type="number"],
form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #AD88C6;
}

.add-pets-form input[type="submit"] {
  background-color: #7469B6;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.add-pets-form input[type="submit"]:hover {
  background-color: #AD88C6;
}

//Code for placing form and Header in a way it looks nice and not too commpressed

.content-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.title {
  text-align: center;
  margin-bottom: 40px;
}

.pet-form {
  margin: 0 auto 40px;
  margin-bottom: 50px;
}
