<h5>Add your booking</h5>
        <%= simple_form_for [@booking.pet] do |f| %>
          <%= f.input :start_date, placeholder: "Add your review here..." %>
          <%= f.submit class:"btn btn-flat" %>
        <% end %>
