<%= render 'layouts/banner' %>

<div class="container my-container d-flex flex-row justify-content-evenly mt-3">
  <div class="cards">
    <%= render partial:'layouts/pet_card', collection: @pets, as: :pet %>
  </div>
</div>
