<h1>Pages#home</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <%= image_tag 'pet.jpg', class: 'card-img-top' %>
        <div class="card-body">
          <h5 class="card-title">Pet Name</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Rent This Pet</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <%= image_tag 'pet.jpg', class: 'card-img-top' %>
        <div class="card-body">
          <h5 class="card-title">Pet Name</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Rent This Pet</a>
        </div>
      </div>
    </div>
  </div>
</div>
