.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: rgb(255, 255, 255);
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


#bannerimage {
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1619326229465-1942c876e17c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  height: 450px;
  background-color: rgb(229, 198, 229);
  background-position: center;
}

.btn {
  color:rgb(255, 255, 255);
  font-weight: bold;
}
