.container-show-pet {
  height: fit-content;
  width: 400px;
}

.container-show-pet > img {
  background-size: cover;
  background-position: center;
}

.card-big {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: fit-content;
  border-radius: 10px !important;
}

.carousel-item {
  height: 450px;
  width: 100%;
  // object-fit: cover;
  background-size: cover;
  background-position: center;
}

.card-big > img {
  height: 450px;
  width: 100%;
  object-fit: cover;
}

.card-big h2 {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

.card-big h3 {
  font-size: 20px;
  margin-top: 5px;
  padding: 3px;
}

.card-big p {
  font-size: 20px;
  opacity: .7;
  margin: 0;
  padding: 3px;
  color: black;
}


.card-big .card-big-infos {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-big-infos .card-big-user {
  position: absolute;
  right: 30px;
  top: -40px;
  width: 110px;
  background-size: cover;
  background-position: center;
}
