<div class="footer bg-light py-3">
  <div class="container-footer">
    <div class="footer-links d-flex justify-content-center mb-3">
      <a href="#" class="mx-2"><i class="fab fa-github"></i></a>
      <a href="#" class="mx-2"><i class="fab fa-instagram"></i></a>
      <a href="#" class="mx-2"><i class="fab fa-facebook"></i></a>
      <a href="#" class="mx-2"><i class="fab fa-twitter"></i></a>
      <a href="#" class="mx-2"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright text-center">
      This footer is made with <i class="fas fa-heart"></i> by Dimi and Simon
    </div>
  </div>
</div>
